@using TescoAPIManager
@using TescoCustomLibrary
@{
    ViewBag.Title = "Home Page";
    var query = Request.Params["query"];
    var amount = !string.IsNullOrEmpty(Request.Params["amount"]) ? Request.Params["amount"] : "10";

    CustomTescoProducts cTProducts = null;

    if (!string.IsNullOrEmpty(query))
    {
        cTProducts = new CustomTescoProducts(query);
       
    }
}

<style>
    .col-lg-4 {
        height: auto;
    }
</style>

<div class="jumbotron">
    <h1>Tesco Diets</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Enter an item to find</h2>
        <p>
            This will search the tesco api for items they sell. Will give alternate search terms if the input is spelled incorrectly.
        </p>

        @*Form*@
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="col-lg-4">
                        <p>Search Term: </p>
                        <input name="query" /><br />
                    </div>
                    <div class="col-lg-4">
                        <p>Amount to show (defaults 10) </p>
                        <input name="amount" /><br />
                    </div>
                    <div class="col-lg-4">
                        <input type="checkbox" class="foodFilter" name="foodFilter" value="All">All<br>
                        <input type="checkbox" class="kosher" name="kosher" value="true">Kosher<br>
                        <input type="checkbox" class="vegetarian" name="vegetarian" value="true">Vegetarian<br>
                        <input type="checkbox" class="vegan" name="vegan" value="true">Vegan<br>
                    </div>
                    <br />
                    <button class="btn">Search</button>
                </form>
            </div>
        </div>
        @* --------------------------------------------------------------------------- *@
        @*Search Output*@
    </div>
    <hr />
    <div class="col-lg-12">
        @if (!string.IsNullOrEmpty(query))
        {
            <h2>Searching for items containing : "@query"</h2>
        }
    </div>
    @if (cTProducts != null)
    {
        //tesco suggestions for misspelled items in the query
        if (cTProducts.SuggestedTerms != null && cTProducts.SuggestedTerms.Any())
        {
            <p>Did you mean? : </p>
            <ul>
                @*output suggestions by score*@

                @foreach (var item in cTProducts.SuggestedTerms)
                {
                    if (item != null)
                    {
                        <li><a href="/?query=@item.text">@item.text</a></li>
                    }
                }

            </ul>
        }
        <hr />

        //todo:get product lifestyle

        //-------------------
        //Variables to help build the output into a 3x3 grid
        var count = 0;
        var rowCount = 0;
        //----------------
        //searching through the collection and outputing items
        foreach (var product in cTProducts.TescoProducts)
        {
            if (rowCount == 0)
            {
                @:<div class="row">
                }
            if (product != null)
            {
                <div class="col-lg-4">
                    <a href="http://www.tesco.com/groceries/product/details/?id=@product.Tpnc">
                        <img src="@product.Img" />
                        <p>@product.Name</p>
                    </a>
                    @foreach (var lifeStyle in product.Lifestyles)
                    {
                        <p>@lifeStyle.lifestyle.value</p>
                    }
                </div>
            }
            //---
            //counter
            rowCount++;
            count++;
            if (rowCount == 3)
            {
                @:</div>
                rowCount = 0;
            }
            //-----
        }
    }
    @* ------------------------------------------------------------------------------------------ *@
</div>